body{
  font-family: 'Montserrat', sans-serif;
}

.logoimg{
  width: 150px;
  
}

.cb{
  border: 2px dotted #A26B0C;
}


.kbtn{
 background-color: #A26B0C;
 border-color: black;
}

.kbtn:active{
  background-color: black;
  border-color: #A26B0C;
}

.kbtn:hover{
  background-color: black;
  border-color: #A26B0C;
}