<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card cb">
        <h4 class="card-title text-center">Log In</h4>
        <div class="card-block">
          <form>
            <div class="form-group">
              <label for="index">Index Number</label>
              <input type="text" name="index" id="index" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-sm btn-primary kbtn">
                <i class="fa fa-sign-in"></i> Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
