<div id="bg">
    <img src="../../assets/img/signupbg.jpg" alt="">
  </div>
<p>
  <br/>
</p>
<p>
  <br/>
</p>
<p>
  <br/>
</p>
<p>
  <br/>
</p>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card cb">
        <h4 class="card-title text-center">Log In</h4>
        <div class="card-block">
          <form  [formGroup]="loginForm" novalidate (submit)="onSubmit()" >
            <div class="form-group">
              <label for="index"> <i class="fa fa-renren"></i> Index Number</label>
              <input formControlName="indexNumber" type="text" name="index" id="index" class="form-control">
            </div>
            <div class="form-group">
              <label for="password"> <i class="fa fa-lock"></i> Password</label>
              <input formControlName="password" type="password" name="password" id="password" class="form-control">
            </div>
            <div class="">

              <a href="" class="text-cunt">Forgot Password</a>
            </div>
            <!-- <ul class=" pull-right">
              
            </ul> -->
            <div class="form-group pull-right">
              <button [disabled]="!loginForm.valid" class="btn btn-sm btn-primary kbtn">
                <i class="fa fa-sign-in"></i> Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
