<div id="bg">
  <img src="../../assets/img/signupbg.jpg" alt="">
</div>
<app-navbar></app-navbar>
<br/>
<br/>
<div class="container-fluid sh">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card cb">
        <div class="card-block">
          <form [formGroup]="studentForm" (submit)="onSubmit()" novalidate>
            <p class="text-center">
              <i class="fa fa-edit"></i>Please fill in the following fields with the correct information</p>
            <!-- <p>{{studentForm.status | json}}</p>
            <p>{{studentForm.value | json }}</p> -->
            <div class="row">
              <div class="col-md-6">
                <div [ngClass]="{'has-danger': indexNumber.errors && indexNumber.dirty, 'has-success': indexNumber.valid && indexNumber.dirty}"
                  class="form-group">
                  <label for="index">
                    <i class="fa fa-renren"></i> Index Number</label>
                  <input formControlName="indexNumber" type="text" name="index" id="index" class="form-control">
                  <ul class="help-block">
                    <li class="form-text text-muted" *ngIf="indexNumber.errors?.minlength && indexNumber.dirty || indexNumber.errors?.maxlength && indexNumber.dirty">Index Number must be Eight Characters</li>
                    <li class="form-text text-muted" *ngIf="indexNumber.errors?.required && indexNumber.dirty">This field is required</li>
                    <li class="form-text text-muted" *ngIf="indexNumber.errors?.pattern && indexNumber.dirty">Only Numbers allowed</li>
                  </ul>
                </div>
                <div [ngClass]="{'has-danger': name.errors && name.dirty, 'has-success': name.valid && name.dirty}" class="form-group">
                  <label for="name">
                    <i class="fa fa-user-circle"></i> Name</label>
                  <input formControlName="name" type="text" name="name" id="name" class="form-control">
                  <ul class="help-block">
                    <li class="text-muted form-text" *ngIf="name.errors?.required && name.dirty">Name is required</li>
                    <li class="text-muted form-text" *ngIf="name.errors?.maxlength && name.dirty">Name must not be more than 20 Characters</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div [ngClass]="{'has-danger':(password.errors && password.dirty), 'has-success': !password.errors}" class="form-group">
                  <label for="password">
                    <i class="fa fa-lock"></i> Password</label>
                  <input formControlName="password" type="password" name="password" id="password" class="form-control">
                  <ul class="help-block">
                    <li class="text-muted form-text" *ngIf="password.errors?.required && password.dirty"> Password is required</li>
                    <li class="text-muted form-text" *ngIf="(password.errors?.minlength || password.errors?.maxlength) && password.dirty">
                      Maximum characters 35 minimum 6
                    </li>
                    <li class="text-muted form-text" *ngIf="password.errors?.pattern && password.dirty">
                      Password must have at least one lowercase, uppercase, number and special character
                    </li>
                  </ul>
                </div>
                <div [ngClass]="{'has-danger':(confirm.errors && confirm.dirty) || (studentForm.errors?.matchingPasswords && confirm.dirty), 'has-success': !confirm.errors && !studentForm.errors?.matchingPasswords}" class="form-group">
                  <label for="confirm">
                    <i class="fa fa-lock"></i> Confirm Password</label>
                  <input formControlName="confirm" type="password" name="confirm" id="confirm" class="form-control">
                  <ul class="help-block">
                    <li class="text-muted form-text" *ngIf="confirm.errors?.required && confirm.dirty">This field is required</li>
                    <li class="text-muted form-text" *ngIf="studentForm.errors?.matchingPasswords && confirm.dirty">
                      Passwords do not match
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div [ngClass]="{'has-danger': email.errors?.email && email.dirty || email.errors && email.dirty, 'has-success': !email.errors}"
                  class="form-group">
                  <label for="email">
                    <i class="fa fa-envelope"></i> Email</label>
                  <input formControlName="email" type="email" name="email" id="email" class="form-control">
                  <ul class="help-block">
                    <li class="text-muted form-text" *ngIf="email.errors?.required && email.dirty">This field is required</li>
                    <li class="text-muted form-text" *ngIf="email.errors?.email && email.dirty">A Valid email is required</li>
                  </ul>
                </div>


              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="photo">
                    <i class="fa fa-camera"></i> Photo</label>
                  <input type="file" name="photo" id="photo" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div [ngClass]="{'has-danger': phone.errors && phone.dirty, 'has-success': !phone.errors}" class="form-group">
                  <label for="phone1">
                    <i class="fa fa-phone"></i> Phone</label>
                  <input formControlName="phone" type="text" name="phone1" id="phone1" class="form-control">
                  <ul class="help-block">
                    <li *ngIf="phone.errors?.required && phone.dirty" class="form-text text-muted">
                      A phone number is required
                    </li>
                    <li *ngIf="phone.errors?.pattern && phone.dirty" class="form-text text-muted">
                      A Valid Phone Number is required
                    </li>
                    <li *ngIf="phone.errors?.maxlength && phone.dirty" class="form-text text-muted">
                      Maximum Characters 15
                    </li>
                  </ul>
                </div>

              </div>
              <div class="col-md-6">
                <div [ngClass]="{'has-danger': department.errors && department.dirty, 'has-success': !department.errors}" class="form-group">
                  <label for="department">
                    <i class="fa fa-building"></i> Department</label>
                  <select formControlName="department" name="department" id="department" class="form-control">
                    <option value="Electrical">Electrical</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Civil">Civil</option>
                    <option value="Geomatic">Geomatic</option>
                    <option value="Construction">Construction</option>
                    <option value="Insurance">Insurance</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Banking and Finance">Banking and Finance</option>
                  </select>
                  <ul class="help-block">
                    <li *ngIf="department.errors?.required && department.dirty" class="form-text text-muted">
                      You must select a department
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <p class="text-center">OPTIONAL</p>
            <div  class="form-group">
              <label for="quote">
                <i class="fa fa-quote-left"></i> Quote</label>
              <textarea #quote formControlName="quote" name="quote" id="quote" cols="30" rows="5" class="form-control"></textarea>
            <ul class="help-block">
              <li class="form-text text-muted" *ngIf=" quote.value.length > 140">
                Maximum Characters 140 
              </li>
              <li class="form-text text-muted">
                  <p [ngClass]="{'text-cunt': quote.value.length < 140 , 'text-danger': quote.value.length > 140}" >{{quote.value.length }}/140</p>
              </li>
            </ul>
            </div>
            <p class="text-center">Social Networks </p>
            <br/>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="facebook">
                    <i class="fa fa-facebook"></i> Facebook </label>
                  <input formControlName="facebook" type="text" name="facebook" id="facebook" class="form-control">
                </div>
                <div class="form-group">
                  <label for="instagram">
                    <i class="fa fa-instagram"></i> Instagram</label>
                  <input formControlName="instagram" type="text" name="instagram" id="instagram" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="facebook">
                    <i class="fa fa-twitter"></i> Twitter </label>
                  <input formControlName="twitter" type="text" name="facebook" id="facebook" class="form-control">
                </div>
                <div class="form-group">
                  <label for="snapchat">
                    <i class="fa fa-snapchat"></i> SnapChat</label>
                  <input formControlName="snapchat" type="text" name="snapchat" id="snapchat" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="!studentForm.valid" class="btn btn-block btn-round btn-warning kbtn">
                <i class="fa fa-paper-plane-o"></i> Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
