<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="450">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CLASS OF 2017</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">

    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="documentation page-header" style="background-image: url('../../assets/img/klg.png')">
    <div class="filter"></div>
    <div class="content">
      <div class="motto text-center">
        <img src="../../assets/img/kaaf.png" alt="" class="img-responsive logoimg">
        <h2 class="title-uppercase text-center">KAAF UNIVERSITY COLLEGE</h2>
        <br/>
        <a  routerLink="/signup" class="btn kbtn btn-danger btn-round">Start Here</a>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-black">
  <div class="container">
    <div class="row">

    </div>
  </div>
</footer>
