<app-navbar></app-navbar>
<br/>
<br/>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card cb">
        <div class="card-block">
          <div class="col-6 col-sm-3 col-md-2 mr-auto ml-auto">
            <img class="img-circle img-no-padding img-responsive" src="../../assets/img/faces/joe-gardner-2.jpg" alt="">
          </div>
              <p class="text-center">
                <a href=""><i class="fa fa-link"></i> www.kuc2017/24100513</a>
              </p>
        </div>
        <div class="card-block">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link  active" data-toggle="tab" href="#messages" role="tab">
                    <i class="fa fa-envelope"></i> Messages</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->
          <div class="tab-content text-center">
            <div class="tab-pane active" id="messages" role="tabpanel">
              <ul class="list-group">
                <li class="list-group-item">
                  I loved the way you dressed - <em>Mr Tobi</em>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
